In [9]:
import pandas as pd

In [10]:
contract = 'MES_MNQ_stream_ta_data1'

In [11]:
df = pd.read_parquet(f'../futures_ta_data/{contract}.parquet')

In [12]:
df.loc[:, 'time'] = df.date.apply(lambda x: pd.Timestamp(x))
df.loc[:, 'date'] = df.time.dt.date

In [13]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

def make_day_plot(day_df):
    seconds = (day_df.time.dt.hour * 3600) + (day_df.time.dt.minute * 60) + (day_df.time.dt.second)
    day_df.loc[:, 'up'] = day_df.open < day_df.close
    fig = make_subplots(rows=3, cols=1, row_heights=[0.5, 0.25, 0.25], shared_xaxes=True)

    fig.add_trace(
        go.Candlestick(
            x=day_df.time, open=day_df.open, high=day_df.high, low=day_df.low, close=day_df.close, name='bars'
        ),
        row=1, col=1
    )
    fig.add_trace(
        go.Scatter(
            x=day_df.time, y=day_df.sma_pr, name='moving average', marker=dict(color='purple')
        ),
        row=1, col=1
    )
    fig.add_trace(
        go.Scatter(
            x=day_df.time, y=day_df.rsi, name='rsi', marker=dict(color='blue')
        ),
        row=2, col=1
    )
    fig.add_trace(
        go.Bar(x=day_df.time, y=day_df.volume, name='volume',
               marker_color=['green' if day_df.loc[index].up else 'red' for index in day_df.index]),
        row=3, col=1
    )
    fig.update_layout(title=f'Contract ', xaxis_rangeslider_visible=False)
    return fig

In [ ]:
import plotly

for day in df.date.unique():
    day_df = df.loc[df['date'] == day]
    if day_df.shape[0] > 0:
        fig = make_day_plot(day_df)
        str_date = str(day)
        plotly.offline.plot(fig, filename=f'IntradayViz/{contract}_{str_date}.html', auto_open=False)

/Users/brianmcclanahan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/brianmcclanahan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df

,date,open,high,low,close,volume,rsi,adx,mean_pr,sma_pr,ewa_pr,pr_diff_ewa,volume_roc,sto,sto_high,sto_low,time
0,2020-07-13,7471.50,7471.50,7471.50,7471.50,13783.5,50.000000,0.000000,7471.50,7471.500000,7471.500000,0.000000,0.000000,50.000000,7471.50,7471.50,2020-07-13 18:00:00
1,2020-07-13,7471.75,7471.75,7471.75,7471.75,27569.5,100.000000,0.000000,7471.75,7471.583333,7471.512500,0.000062,99.000000,100.000000,7471.75,7471.50,2020-07-13 18:01:00
2,2020-07-13,7470.25,7470.25,7470.25,7470.25,27561.5,13.875598,0.000000,7470.25,7471.250000,7471.449375,-0.000253,74.184360,0.000000,7471.75,7470.25,2020-07-13 18:02:00
3,2020-07-13,7472.50,7472.50,7472.50,7472.50,27570.0,63.138196,0.000000,7472.50,7471.500000,7471.501906,0.000010,57.627036,100.000000,7472.50,7470.25,2020-07-13 18:03:00
4,2020-07-13,7476.00,7476.00,7476.00,7476.00,27577.0,80.805636,0.000000,7476.00,7472.250000,7471.726811,0.001135,46.233251,100.000000,7476.00,7470.25,2020-07-13 18:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39667,2020-08-23,8189.75,8189.75,8189.75,8189.75,29979.5,57.661488,14.920698,8189.75,8127.891204,8188.083735,0.155247,0.003023,83.333333,8191.25,8182.25,2020-08-23 19:22:00
39668,2020-08-23,8190.25,8190.25,8190.25,8190.25,29979.5,58.659639,15.120707,8190.25,8128.004051,8188.192048,0.155013,0.003041,88.888889,8191.25,8182.25,2020-08-23 19:23:00
39669,2020-08-23,8190.75,8190.75,8190.75,8190.75,29981.5,59.643862,15.668977,8190.75,8128.115451,8188.319946,0.154877,0.003075,94.444444,8191.25,8182.25,2020-08-23 19:24:00
39670,2020-08-23,8190.00,8190.00,8190.00,8190.00,29979.0,57.518932,15.383240,8190.00,8128.224537,8188.403949,0.154523,0.003043,86.111111,8191.25,8182.25,2020-08-23 19:25:00
39671,2020-08-23,8190.75,8190.75,8190.75,8190.75,29981.5,59.028940,15.678903,8190.75,8128.331597,8188.521251,0.154337,0.003061,94.444444,8191.25,8182.25,2020-08-23 19:26:00